version: '3'

services:
# Nginx
  nginx:
    build: ./requirements/nginx
    image: cmero-nginx:${version:-latest}
    container_name: nginx
    env_file: # говорим compose, что у нас будет специальный
      - .env  # файл для переменной окружения
    hostname: localhost
    volumes:
      - wp:/var/www/html/wordpress
    networks:
      - inception_net
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart: always
# MariaDB
  mariadb:
    build: ./requirements/mariadb
    image: cmero-mariadb:${version:-latest}
    container_name: mariadb
    env_file:
      - .env
    hostname: localhost
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception_net
    restart: always
# Wordpress
  wordpress:
    build: ./requirements/wordpress
    image: cmero-wordpress:${version:-latest}
    container_name: wordpress
    env_file:
      - .env
    hostname: localhost
    volumes:
      - wp:/var/www/html/wordpress
    networks:
      - inception_net
    depends_on:
      - mariadb
    restart: always
# Redis
  redis:
    build: ./requirements/bonus/redis
    image: cmero-redis:${version:-latest}
    container_name: redis
    networks:
      - inception_net
    depends_on:
      - mariadb
    restart: always
# proFTPd
  proftpd:
    build:
      context: ./requirements/bonus/proftpd/
    image:  cmero-proftpd:${version:-latest}
    container_name: proftpd
    env_file:
      - .env
    volumes:
      - wp:/var/www/html/wordpress
    networks:
      - inception_net
    ports:
      - "10020:20"
      - "10021:21"
      - "60000-60030:60000-60030" # диапазон должен соответствовать диапазону пассивных портов в файле настроек
    depends_on:
      - wordpress
    restart: always

volumes:
  db:
    driver: local
    driver_opts: # описывает необязательные значения драйвера для данной сети
      type: none # тип сервиса контейнера
      # type: the mount type volume, bind, tmpfs or npipe
      o: bind # устанавливает специфические опции для драйвера
      device: /home/${USER}/data/db # куда сохраняются данные для каждого сервиса
  wp:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/wp # ${USER} переменная среды окружения локального хоста
  adm:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/adm # ${USER} переменная среды окружения локального хоста

networks:
  inception_net: # название сети
    driver: bridge # тип сети
